<li class="dropdown <%= 'active' if subcategory.url_name == params[:subcategory] %> ">
	<%= link_to subcategory.name, subcategory_path(menu_url, subcategory_category_url_name, subcategory.url_name), class:"subcategory" %>
</li>
