<table class="table table-hover table-condensed">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Title</th>
		<th>save</th>
	</tr>
	<%= render partial: 'admin/view/option_type', collection: @option_types, as: :option_type  %>
</table>