<div class="row">
			<div class="col-md-3">
				<div class="banner-main">
					<p>Покупайте в нашем магазине и <BR /> получайте бонусы много.ру</p>
					<%= image_tag "banner-main.png", style:"margin-right:-15px;" %>
					<div class="banner-main-foot">Бонусы Много.ру</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="banner-main">
					<p>Получайте и <BR /> тратье бонусы СПАСИБО</p>
					<%= image_tag "banner-main-spasibo.png" %>
					<div class="banner-main-foot">Бонусы Много.ру</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="banner-main">
					<p>Лучшие цены. Еженедельное обновление</p>
					<%= image_tag "banner-main-3.png" %>
					<div class="banner-main-foot">Бонусы Много.ру</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="banner-main">
					<p>Зачем ждать? <BR />Надо брать! <BR /> Выгодный кредит <BR /> за 5 минут</p>
					<%= image_tag "banner-main-4.png" %>
					<div class="banner-main-foot">Бонусы Много.ру</div>
				</div>
			</div>
	</div>