<div class="row main_steps">
			
				<h2>Как мы работаем?</h2>
				<div class="col-md-3">
					<div class="how-we-1">
						<h3>Вы оставляете заявку <br>на сайте или по телефону</h3>
					</div>
				</div>
				<div class="col-md-3">
					<div class="how-we-2">
						<h3>Менеджер связывается с <br> Вами для подтверждения заказа</h3>
					</div>
				</div>
				<div class="col-md-3">
					<div class="how-we-3">
						<h3>Мы быстро доставляемd Вашу <br>посылку по указанному адресу</h3>
					</div>
				</div>
				<div class="col-md-3">
					<div class="how-we-4">
						<h3>Вы получаете свой товар и платите <br>за него на почте или курьеру</h3>
					</div>
				</div>
			
		</div>