/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 @import "bootstrap";
 .dropdown:hover > .dropdown-menu
                {
                    display: block;
                }
.header { 
	display: block;
	list-style: none;
	height: 20px;
	li {
		display: block;
		float: left;	
		padding: 0 0;
	}
}
.footer {
	clear: both;
	overflow: hidden;
}
#notice {
	color: #000 !important;
	border: 2px solid red;
	padding: 1em;
	margin-bottom: 2em;
	background-color: #f0f0f0;
	font: bold smaller sans-serif;
}

#main {
	margin-left: 200px;
	padding: 1em;
	background: white;
	overflow: hidden;

}
#side {
overflow: hidden;
background:#ccc; 
float:left; 
height:500px;
text-align: center;
padding-top: 20px;
width: 195px;
}
