// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products {
  #store {
    display: block;
    overflow: hidden;
  }
  h1 {
    margin: 0;
    padding-bottom: 0.5em;
    font: 150% sans-serif;
    color: #226;
    border-bottom: 3px dotted #77d;
    }
    /* Запись в каталоге store */
    .one_product {
      background-color: white;
      border: 1px solid #b0b1b2;
      padding: 25px 10px 10px 10px;
      position: relative;
      float: left;
      width: 25%;
      margin: 0 2% 30px 3%;
      height: 253px;
        overflow: hidden;
      min-height: 100px;

        img {
            width: 80px;
            margin-right: 5px;
            margin-bottom: 5px;
            position: absolute;
      }
      p, div.price_line {
        margin-top: 0.5em;
        margin-bottom: 0.8em;
        form, div {
                display: inline;
            }
      }
      h3 {
            font-size: 90%;
            font-family: sans-serif;
            margin-top: 0;
            margin-bottom: 2px;
            color: #227;
        }
        p, div.price_line {
            margin-top: 0.5em;
            margin-bottom: 0.8em;
    }
    .price {
            color: #44a;
            font-weight: bold;
            margin-right: 3em;
    }

  }
}