// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products {
  #store {
    display: block;
    overflow: hidden;

  }
  h1 {
    margin: 0;
    margin-bottom: 0.1em;
    font: 150% sans-serif;
    color: #226;
    border-bottom: 3px dotted #77d;
    }
    /* Запись в каталоге store */
    .one_product {
      width: 33%;
      min-width: 226px;
      height: 302px;
      background-color: white;
      text-align: center;
      border: 1px dotted #b0b1b2;
      padding: 0;
      position: relative;
      float: left;
      margin: 0 0 0 0;
      overflow: hidden;
      min-height: 100px;

        img {
            clear: both;
            
      }
      p, div.price_line {
        margin-top: 0.5em;
        margin-bottom: 0.8em;
        form, div {
                display: inline;
            }
      }
      h3 {
            font-size: 90%;
            font-family: sans-serif;
            margin-top: 0;
            margin-bottom: 2px;
            color: #227;
        }
        p, div.price_line {
            margin-top: 0.5em;
            margin-bottom: 0.8em;
    }
    .price {
            color: #44a;
            font-weight: bold;
            margin-right: 3em;
    }

  }
}