.filter {
	border-top:1px solid #ddd;
	font: 13px/18px Arial,Helvetica,sans-serif;
	text-align: left;
	padding:8px 16px;
	&:hover {
		background-color: #ABD7F2;
	}
	.title {
		padding-left: 0 !important;
		padding-right: 0 !important;
		.g-icon-h {
			margin-left:-15px;
		}
	}
	.g-icon-item {
	background:url(scheme_black.png?t=1398088929) 0 0 no-repeat;
	background-position:0 -54px;
	width: 17px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	}
}
