<li class="dropdown <%= "dropdown-submenu" if !category.subcategories.empty? %>">
    <%= link_to category.name, category_path(category.menu.permalink,category.url_name) %>
    <% if category.subcategories.empty? %>
        <li>
    <% else %>
        <ul class="dropdown-menu">
            <%= render category.subcategories, menu_url: category.menu.permalink, category_url: category.url_name  %>
        </ul>
    </li>
    <% end %>
