<div id="store">
	<div class="row">
		 <%= page_entries_info @posts %>
		 <%= will_paginate @products, :container => "<div>", class: "col-md-4" %>
	</div>
	<div class="row">
		<%= render @products %>
	</div>
</div>

<div id="predv_prosmotr" class="border">
	<%= image_tag 'close.png', class: "predv_close" %>
    <div id="windowContent"></div>
</div>
<div id="overlay"></div>