<% if @product %>
<% @current_menu ||= @product.category.menu%>
<% @current_category ||= @product.category %>
<% @current_subcategory ||= @product.subcategory %>
<% end %>
<ul class="breadcrumb">
	<% if @current_menu %>
 	<li><%= link_to @current_menu.name , menu_path(@current_menu.permalink) %> </li>
 	<% end %>
 	<% if @current_category %>
 	<li class="<%= "active" if !@current_subcategory %>" ><%= link_to @current_category.name , category_path(@current_menu.permalink,@current_category.url_name) %></li>
 	<% end %>
 	<% if @current_subcategory %>
	<li class="active">
		<%= link_to @current_subcategory.name,subcategory_path(@current_menu.permalink,@current_category.url_name,@current_subcategory.url_name) %></li>
 	<% end %>
</ul>
