<footer class="footer">
  <table>
    <tr>
      <td>фильтры</td>
      <td>поиск</td>
      <td></td>
      <td id="tel"><%= image_tag "tel.png", size:"70x70" %>(495) 276-66-77</td>
      <td>обратный звонок</td>
      <td>Пн-Вт: с 9:00-21:00<br>
          Сб-Вс: с 11:00-19:00
      </td>
    </tr>
  </table>
</footer>