<table width="100%">
	<tr height="100">
		<td width="33%">Картинка</td>
		<td width="23%">Название</td>
		<td width="15%">Регситрация Вход</td>
		<td>(495) 276-66-77</td>
		
	</tr>
</table>
<div class="container">
        <hr class="bs-docs-separator">
        <!--Выпадающее меню-->
        <ul class="nav nav-pills">
            <%= render @menu %>
        </ul>
    </div>